h1{
    text-align: center;
   
    color: black;
     background-color: gray;
     font-size: 30px;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bolder;
     line-height: 20px;
     border:solid, 10px,black;
     border-radius: 50px;
     height: 100px;
     padding: 20px;
     width: 100px;
     margin-bottom: 100px;
     margin-top: 100px;
     margin-left: 500px;
     margin-right: 500px;
     content: normal;
     box-sizing: border-box;
     


    

} 
#para1{
    background-color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 30px;
    line-height: 30px;
    font-style: italic;
    color: antiquewhite;
    
       
        padding: none;
        margin:none;
        border-image: auto;
        

}

*{
    background-color: black;
    color: azure;
}